.cars-container .container {
	max-width: 1050px;
}

.cars-container .card {
	border-radius: 10px;
	padding: 22px 18px 16px;
	border: none;
	background: #ffffff;
	box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.15);	
}

.cars-container .card > img {
	width: 265px;
	height: 155px;
}

.cars-container .card-title, .cars-container .card-desc, .cars-container .card-info p {
	line-height: 22px;
	font-size: 16px;
}

.cars-container .card-title span {
    font-size: 14px;
}

.cars-container .card-desc {
	height: 62px;
}

.cars-container .card-price {
	line-height: 24px;
	font-weight: 750;
	font-size: 16px;
}

.cars-container .main__button {
	height: 42px;
}

.cars-container #not-found {
    margin-top: 98px;
}

