.btn-success, .btn-success.active {
	background-color: #5cb85f;
	color: #fff;
	width: fit-content;
	font-size: 14px;
}

.btn-success:hover, .btn-success:active, .btn-success:focus {
	background-color: #157347;
}
