
.faq {
	margin-top: 104px;
}

.accordion .accordion-item {
	border: 1px solid #d4d4d4 !important;
	font-size: 14px;
}
.accordion .accordion-item:not(:first-child) {
	margin-top: 16px;
}
.accordion .accordion-header::collapse {
	border-bottom: 1px solid #d4d4d4 !important;
}
.accordion button,
.accordion button:hover,
.accordion button:focus {
	text-decoration: none;
	font-size: 14px;
	background-color: #fff !important;
	color: #000 !important;
	border-color: #000 !important;
	box-shadow: none;
}
.accordion-button:not(.collapsed) {
	box-shadow: inset 0 -1px 0 rgba(0, 0, 0, 0.125) !important;
}
.accordion img {
	width: 12px;
	height: 6px;
}