.main {
	padding-top: 38px;
	background-color: #f1f3ff;
	overflow-x: hidden;
}
.main-title {
	font-size: 36px;
	line-height: 56px;
}
.paragraph {
	font-size: 14px;
	line-height: 20px;
	font-weight: 300;
}
.main-description {
	width: 468px;
}

.main__image-wrap {
	width: 704px;
	margin-right: -10%;
}
.main__image {
	width: 704px;
	height: 407px;
}
