.service {
	margin-top: 104px;
}
.service__image-wrap {
	margin-right: 86px;
}
.paragraph {
	font-size: 14px;
	line-height: 20px;
	font-weight: 300;
}
.title {
	font-size: 24px;
	line-height: 36px;
}
.service__list {
	row-gap: 20px;
}
.service__item {
	column-gap: 16px;
}
